//digital goods
.digitalgoods-wrap {
  width: 100%;
  aspect-ratio: 2560/729;
  height: 729px;
  max-width: 2560px;
  position: relative;
  overflow: hidden;
  position: relative;
  background: url('../images/contents/digital-goods-conents.webp') no-repeat;
  background-size: cover;
  background-position: top center;
}
.goods-contents {
    h1 {
        display: inline;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0;
        text-indent: -9999px;
    }
}
